*{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

body{
    background-color: #123247;
    padding: 0px;
    margin: 0px;
}
/*cabecalho*/
header{
    padding: 0px;
    display:flex;
    justify-content:space-between;
    width: 100%;
    height:100px;
    background-color:#1e1e1e;
}
.titulo{
    color: white;
    font-size: 30px;
    margin: auto;
    text-decoration: none;
}
.busca-box{
    padding-top: 10px;
    display:flex;
    align-items: center;
}
.busca-texto{
    border-radius: 3px;
    margin-right: 20px;
}
.busca-butao{
    width:25px; 
    height:25px;
    margin:auto 0px; 
    border-radius: 5px;
    padding:0px;
}
#corpo{
    margin:4px;
    padding:6px;
    width:100vw;
    height:auto;
    display:flex;
    flex-direction: column;
}

.animesreq{
    margin-top: 14px;
    padding:12px;
    background-color: #1e1e1e;
    width: 68vw;
    height: auto;
    border-radius: 5px;

    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.pagina-skip{
    height:30px;
    width: 68vw;
    padding:12px;
    padding-top:6px;
    background-color:#1e1e1e;
    border-radius: 5px;
    display:flex;
    justify-content:space-evenly;
}
.anime-box{
    width: 10em;
    height:18em;
    background-color: rgba(255,255,255,.1);
    border-radius: 5px;
    padding:3px;
    margin:5px;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    transition: transform .3s;
    text-decoration: none;
}
.anime-box:hover{
    transform: scale(1.07);
}

.anime-title{
    text-align: center;
    color: #945A07;
    height: 3em;
    text-decoration: none;
}
.anime-image-box{
    /*background-color: azure;*/
    margin:5px;
    flex-grow: 2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.anime-image{ 

    width:9em;
    height: 13em;
}

.animesweek{
    
    position: fixed;
    bottom:0px;
    flex-shrink: 1;
    margin: 0px 10px;
    padding:10px;
    width:25%;
    height: 74%;
    background-color:#1e1e1e;
    border-radius: 10px;
    margin-left: 73%;
    transition: height .3s ease-in-out;
}

.item-list{
    color:white;
    margin-left:2em;
    margin-top:1em;
    display: block
}

.botao-genero{
    transition: transform .3 ease-out;
}
.botao-genero:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.pagina{
    padding-top: 8px;
    color: white;
    width:45px;
    height:35px;
}
.botoes{
    width:35px;
    height:35px;
    background-color:white;
    opacity: .3;
    transition: transform .2s ease-in-out;
}
.botoes:hover{
    cursor: pointer;
    transform: scale(1.2)
}

